{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}
<!--♕-->


<div class="layout page">
    <div class="layout__col-1">
        <div class="page__cnt">
            <h1>О нас </h1>
            <div class="content">
                <p>
                    Наша компания основана в 1996 году. Сегодня интернет-магазин Кувалда.ру представлен в 23 городах России и предлагает 50 тысяч наименований товаров. В каталоге ручной инструмент, станки, строительное и складское оборудование, аккумуляторный и сетевой электроинструмент, дорожная и садовая техника, крепеж и расходные материалы, электротехнические товары. Мы снабжаем строительные площадки, автосервисы, производства и склады, хотя и к небольшим частным мастерским и просто любителям хорошего инструмента у нас всегда профессиональный подход.
                    В Кувалда.ру продается только оригинальный инструмент Makita, Bosch, DeWalt, Metabo, Husqvarna, Jet и других брендов. Мы даем грамотные консультации по подбору инструмента и оснастки. Предоставляем персонального менеджера для долгосрочного сотрудничества и правильно оформляем документы. В нашей службе доставки трудятся вежливые и пунктуальные курьеры.
                </p>
                <p>
                    Наш интернет-магазин «Кувалда.ру» успешно работает в Москве, Санкт-Петербурге, Екатеринбурге, Краснодаре, Самаре, Ростове-на-Дону, Саратове, Казани, Нижнем Новгороде, Уфе, Пскове, Тольятти, Ульяновске, Оренбурге, Нижнем Тагиле, Волгограде, Челябинске, Белгороде, Великих Луках, Таганроге, Великом Новгороде, Воронеже и Набережных Челнах.
                    Так же мы доставляем товары в любой город России, где есть филиал какой-либо транспортной компании.
                    Пишем об инструменте, строительном оборудовании, мастерах и их изобретениях. Даём советы и подкидываем идеи. Обсуждаем новинки и ностальгируем по старым, давно забытым штукам, как бензопила Дружба.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
